# Terraform local files
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Ignore binaries (like your .exe)
*.exe
*.zip
*.tar.gz

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/